$popover-max-width: 360px !important;
$popover-body-padding-x: 5px !important;
$popover-body-padding-y: 5px !important;
$popover-header-padding-x: 10px !important;

@import 'mdb-ui-kit/src/scss/mdb.free.scss';
